*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(73, 72, 72);
}
.selective-options {
  display: flex;
  justify-content: center;
}
.option {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-size: 3rem;
  transition: 100ms;
}
.option:hover {
  transform: scale(1.2);
}
.results {
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 2rem;
  grid-template-columns: repeat(2, 1fr);
}
.result-scores {
  margin-left: 0.1rem;
  font-size: 3rem;
  color: aquamarine;
}
.result-option {
  opacity: 0.7;
}
.result-option.winner {
  opacity: 1;
  font-size: 2.5rem;
}
